## **[Objectif: Maîtriser SQL]()** 
#### Le projet de cette semaine porte sur le SQL et la manipulation des bases des données relationnelles
#### Date de soumission: jeudi 15 juin 2023 à 22 H

##### Nous travaillerons dans cette partie avec une base des données du championnat de baskett ball américain (NBA)
##### Cette base est au format compressé et disponible publiquement dans kaggle et  accessible à l'adresse:
- [baskettball_data (url)](https://drive.google.com/file/d/17T1SQdChPn6JTpdLnd8VGWSOVGeWCL6W/view?usp=sharing)
- Vous devez obtenir une version décompresser directement dans votre environement de travail ou dans votre disque local

##### `Importer les librairies necéssaires pour travailler avec une application de gestion SQL avec python (sqlite3)`

In [81]:
import sqlite3
import pandas as pd

**Tâche 1.1:** Initialiser sqlite3 et accéder à la base des données

In [5]:
## Vous devez modifier la séquence suivante (Users/DDD/Downloads/basketball.sqlite/basketball.sqlite) 
# en fonction de la localisation du fichier dans votre ordinateur
%load_ext sql
%sql sqlite:////Users/DDD/Downloads/basketball.sqlite/basketball.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Tâche 1.2:** Faire votre première réquête dans la base en affichant son contenu
- [SQL: exposé de compréhension](https://www.i3s.unice.fr/~edemaria/cours/c4.pdf)
- [SQL: bases et fonctions](https://fxjollois.github.io/cours-sql/)
- Pour communiquer avec sqlite, chaque cellule de codes de jupyter doit commencer par '%%sql'

##### Utiliser la fonction SELECT  pour avoir accés aux informations et tables de la base

In [12]:
%%sql

SELECT *
FROM sqlite_schema

 * sqlite:////Users/DDD/Downloads/basketball.sqlite/basketball.sqlite
Done.

[('table', 'Player', 'Player', 2, 'CREATE TABLE "Player" (\n"id" TEXT,\n  "full_name" TEXT,\n  "first_name" TEXT,\n  "last_name" TEXT,\n  "is_active" INTEGER\n)'),
 ('table', 'Team', 'Team', 4, 'CREATE TABLE "Team" (\n"id" TEXT,\n  "full_name" TEXT,\n  "abbreviation" TEXT,\n  "nickname" TEXT,\n  "city" TEXT,\n  "state" TEXT,\n  "year_founded" INTEGER\n)'),
 ('table', 'Team_Attributes', 'Team_Attributes', 5, 'CREATE TABLE "Team_Attributes" (\n"ID" TEXT,\n  "ABBREVIATION" TEXT,\n  "NICKNAME" TEXT,\n  "YEARFOUNDED" TEXT,\n  "CITY" TEXT,\n  "ARENA" TEXT,\n  " ... (66 characters truncated) ...  "HEADCOACH" TEXT,\n  "DLEAGUEAFFILIATION" TEXT,\n  "FACEBOOK_WEBSITE_LINK" TEXT,\n  "INSTAGRAM_WEBSITE_LINK" TEXT,\n  "TWITTER_WEBSITE_LINK" TEXT\n)'),
 ('table', 'Team_History', 'Team_History', 6, 'CREATE TABLE "Team_History" (\n"ID" TEXT,\n  "CITY" TEXT,\n  "NICKNAME" TEXT,\n  "YEARFOUNDED" TEXT,\n  "YEARACTIVETILL" TEXT\n)'),
 ('table', 'Player_Attributes', 'Player_Attributes', 15, 'CREATE TABLE "Player_Attributes" (\n"ID" TEXT,\n  "FIRST_NAME" TEXT,\n  "LAST_NAME" TEXT,\n  "DISPLAY_FIRST_LAST" TEXT,\n  "DISPLAY_LAST_COMMA_FIRST" ... (569 characters truncated) ... R" TEXT,\n  "DRAFT_ROUND" TEXT,\n  "DRAFT_NUMBER" TEXT,\n  "PTS" REAL,\n  "AST" REAL,\n  "REB" REAL,\n  "ALL_STAR_APPEARANCES" REAL,\n  "PIE" REAL\n)'),
 ('table', 'Game_Officials', 'Game_Officials', 8375, 'CREATE TABLE "Game_Officials" (\n"OFFICIAL_ID" TEXT,\n  "FIRST_NAME" TEXT,\n  "LAST_NAME" TEXT,\n  "JERSEY_NUM" TEXT,\n  "GAME_ID" TEXT\n)'),
 ('table', 'Game_Inactive_Players', 'Game_Inactive_Players', 8997, 'CREATE TABLE "Game_Inactive_Players" (\n"PLAYER_ID" TEXT,\n  "FIRST_NAME" TEXT,\n  "LAST_NAME" TEXT,\n  "JERSEY_NUM" TEXT,\n  "TEAM_ID" TEXT,\n  "TEAM_CITY" TEXT,\n  "TEAM_NAME" TEXT,\n  "TEAM_ABBREVIATION" TEXT,\n  "GAME_ID" TEXT\n)'),
 ('table', 'Team_Salary', 'Team_Salary', 13415, 'CREATE TABLE `Team_Salary` (\n  `nameTeam` TEXT,\n  `slugTeam` TEXT,\n  `urlTeamSalaryHoopsHype` TEXT,\n  `X2020-21` REAL,\n  `X2021-22` REAL,\n  `X2022-23` REAL,\n  `X2023-24` REAL,\n  `X2024-25` REAL,\n  `X2025-26` REAL\n)'),
 ('table', 'Player_Salary', 'Player_Salary', 23558, 'CREATE TABLE `Player_Salary` (\n  `slugSeason` TEXT,\n  `nameTeam` TEXT,\n  `namePlayer` TEXT,\n  `statusPlayer` TEXT,\n  `isFinalSeason` INTEGER,\n  ... (31 characters truncated) ... ster` INTEGER,\n  `isNonGuaranteed` INTEGER,\n  `isTeamOption` INTEGER,\n  `isPlayerOption` INTEGER,\n  `typeContractDetail` TEXT,\n  `value` REAL\n)'),
 ('table', 'Draft', 'Draft', 23559, 'CREATE TABLE `Draft` (\n  `yearDraft` REAL,\n  `numberPickOverall` REAL,\n  `numberRound` REAL,\n  `numberRoundPick` REAL,\n  `namePlayer` TEXT,\n  ` ... (133 characters truncated) ... EXT,\n  `cityTeam` TEXT,\n  `teamName` TEXT,\n  `PLAYER_PROFILE_FLAG` REAL,\n  `slugOrganizationTypeFrom` TEXT,\n  `locationOrganizationFrom` TEXT\n)'),
 ('table', 'Draft_Combine', 'Draft_Combine', 23562, 'CREATE TABLE `Draft_Combine` (\n  `yearCombine` INTEGER,\n  `idPlayer` REAL,\n  `nameFirst` TEXT,\n  `nameLast` TEXT,\n  `namePlayer` TEXT,\n  `slugP ... (3799 characters truncated) ... legePct` REAL,\n  `setOffDribBreakRightCollegeMade` REAL,\n  `setOffDribBreakRightCollegeAttempted` REAL,\n  `setOffDribBreakRightCollegePct` REAL\n)'),
 ('table', 'Player_Photos', 'Player_Photos', 23565, 'CREATE TABLE `Player_Photos` (\n  `isActive` INTEGER,\n  `isRookie` INTEGER,\n  `namePlayer` TEXT,\n  `idPlayer` REAL,\n  `countSeasons` REAL,\n  `ye ... (170 characters truncated) ... dshot` TEXT,\n  `urlPlayerActionPhoto` TEXT,\n  `hasHeadShot` INTEGER,\n  `hasThumbnail` INTEGER,\n  `hasAction` INTEGER,\n  `urlPlayerPhoto` TEXT\n)'),
 ('table', 'Player_Bios', 'Player_Bios', 22541, 'CREATE TABLE `Player_Bios` (\n  `namePlayerBREF` TEXT,\n  `urlPlayerBioBREF` TEXT,\n  `nameTable` TEXT,\n  `urlPlayerImageBREF` TEXT,\n  `slugPlayerB ... (752 characters truncated) ...  `dateDeath` REAL,\n  `high schools` TEXT,\n  `descriptionRelatives` TEXT,\n  `descriptionHOF` TEXT,\n  `playerNicknames` TEXT,\n  `colleges` TEXT\n)'),
 ('table', 'Game', 'Game', 25, 'CREATE TABLE "Game" (\n"GAME_ID" TEXT,\n  "SEASON_ID" TEXT,\n  "TEAM_ID_HOME" TEXT,\n  "TEAM_ABBREVIATION_HOME" TEXT,\n  "TEAM_NAME_HOME" TEXT,\n  "G ... (3563 characters truncated) ... ER" TEXT,\n  "VIDEO_AVAILABLE_FLAG" REAL,\n  "PT_AVAILABLE" REAL,\n  "PT_XYZ_AVAILABLE" REAL,\n  "HUSTLE_STATUS" REAL,\n  "HISTORICAL_STATUS" REAL\n)'),
 ('table', 'News', 'News', 13142, 'CREATE TABLE "News" (\n"title" TEXT,\n  "author" TEXT,\n  "published_date" TEXT,\n  "published_date_precision" TEXT,\n  "link" TEXT,\n  "clean_url" T ... (437 characters truncated) ... ng" TEXT,\n  "querystring_page_size" REAL,\n  "querystring_from" TEXT,\n  "querystring_to" TEXT,\n  "querystring_page" REAL,\n  "scrape_date" TEXT\n)'),
 ('table', 'News_Missing', 'News_Missing', 198017, 'CREATE TABLE "News_Missing" (\n"link" TEXT,\n  "exception" TEXT,\n  "extraction_date" DATE\n)')]

##### Cette table contient l'arborescence des tables et des informations contenues dans ces tables relationnelles

**Task 1.3:** Selectionner toutes les tables de la base
- Compléter le code ci-dessous en utilisant la fonction 'WHERE'
- [SQLite tutorial](https://www.sqlitetutorial.net/sqlite-select/)

In [ ]:
%%sql
SELECT  name 
FROM sqlite_schema
WHERE ...

**Task 1.4:** Select all columns from the `Player` table and from `Player_salary`, limiting your results to the first five rows. Use two separate cells to execute your code
- [SQL: bases et fonctions](https://fxjollois.github.io/cours-sql/)

In [ ]:
%%sql
SELECT *
FROM ...
lIMIT ...

In [ ]:
%%sql
...
FROM Player_salary
lIMIT ...

**Task 1.5:** How many observations are in the `Player` table? Use the `count` command to find out. You should find no more than 4501 observations
- [SQL count](https://www.sqlitetutorial.net/sqlite-count-function/)

In [ ]:
%%sql
SELECT ...
FROM Player

**Task 1.6:** Select all columns from the `Team` table, limiting your results to the first five rows. Use `SELECT` and `LIMIT` functions
- [SQL: bases et fonctions](https://fxjollois.github.io/cours-sql/)

In [22]:
%%sql
...

 * sqlite:////Users/DDD/Downloads/basketball.sqlite/basketball.sqlite
Done.

[('1610612737', 'Atlanta Hawks', 'ATL', 'Hawks', 'Atlanta', 'Atlanta', 1949),
 ('1610612738', 'Boston Celtics', 'BOS', 'Celtics', 'Boston', 'Massachusetts', 1946),
 ('1610612739', 'Cleveland Cavaliers', 'CLE', 'Cavaliers', 'Cleveland', 'Ohio', 1970),
 ('1610612740', 'New Orleans Pelicans', 'NOP', 'Pelicans', 'New Orleans', 'Louisiana', 2002),
 ('1610612741', 'Chicago Bulls', 'CHI', 'Bulls', 'Chicago', 'Illinois', 1966)]

**Task 1.7:** What cities are represented in the `Team` table? Use the `distinct` command to determine the unique values in the **`city** column.
- [SQL: bases et fonctions](https://fxjollois.github.io/cours-sql/)

In [ ]:
%%sql
SELECT...
...

**Task 1.8:** How many cities are there in `Team` table? Combine the `count` and `distinct` commands to calculate the number of unique values in **`Team`**.

In [26]:
%%sql
...count(distinct(city))
FROM team

 * sqlite:////Users/DDD/Downloads/basketball.sqlite/basketball.sqlite
Done.

[(29,)]

**Task 1.9:** For our model, we'll focus on slugSeason `2020-21`. Select all columns that from `Player_Salary`, showing only rows where the **`slugSeason`** is `2020-21` and limiting your results to the first thre rows.

In [99]:
%%sql
...

 * sqlite:////Users/DDD/Downloads/basketball.sqlite/basketball.sqlite

**Task 1.10:** How many unique salary values do you have in the table create above? 
Remember that this table concerns only season 2020-21. Yous should have no more than 523 individuals salary.

In [ ]:
%%sql
...

**Task 1.11:** Copy and rename table and column in tha table. Use `ALTER` and `RENAME` functions.
You should first alter the name of the table as `salary_full_name` then rename `namePlayer` column as `full_name`.
`full_name` is the name of players in table `Player`.
- [RENAME FUNCTION](https://www.sqlitetutorial.net/sqlite-rename-column/)

In [ ]:
%%sql
ALTER TABLE ...
RENAME TO ...

In [ ]:
%%sql
...
RENAME COLUMN ...

##### Show here 5 rows of new table

In [ ]:
%%sql
...

**Task .1.12:** Use the `distinct` command to create a column with all unique full_name in the `salary_full_name` table (the one you just created). `JOIN` this column with all the columns from the `Player` table, showing only Season where slugSeason is **2020-21**  and limiting your results to the first five rows of the new table
- [JOIN in SQLite](https://www.sqlitetutorial.net/sqlite-join/)

In [ ]:
%%sql
SELECT *
FROM salary_full_name AS s
JOIN Player ...
WHERE slugSeason= ...
LIMIT 5

##### Now you have 2 columns with full_name: full_name and full_name_1. We should rename full_name_1 as name

In [ ]:
%%sql
...

**Task 1.13:** Put your the SQL query you have used to combine tables into a string and assign it to the variable `query`.

In [ ]:
query = """ ...

"""
print(query)

**Task 1.14:** Use the [`connect`](https://docs.python.org/3/library/sqlite3.html#sqlite3.connect) method from the sqlite3 library to connect to the database. Remember that you should specify the url of your database.
- [Connection to a SQL database using sqlite3</span></span>.](../%40textbook/10-databases-sql.ipynb#Using-pandas-with-SQL-Databases)

In [ ]:
conn = sqlite3.connect("THE PATH TO YOUR sqlite BASKETBALL DATABASE")

**Task 1.15:** Use the [`read_sql`](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html#pandas-read-sql) from the pandas library to create a DataFrame from your `query`. Be sure that the **`full_name`** is set as your index column. You should not limit your query.

In [95]:
import pandas as pd

df = pd.read_sql(query, conn, index_col= ...)

df.head()

,name,slugSeason,nameTeam,statusPlayer,isFinalSeason,isWaived,isOnRoster,isNonGuaranteed,isTeamOption,isPlayerOption,typeContractDetail,value
full_name,,,,,,,,,,,,
Bogdan Bogdanovic,Bogdan Bogdanovic,2020-21,Atlanta Hawks,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
Brandon Goodwin,Brandon Goodwin,2020-21,Atlanta Hawks,current roster,0,0,1,0,0,0,Guaranteed,1701593.0
Bruno Fernando,Bruno Fernando,2020-21,Atlanta Hawks,current roster,0,0,1,0,0,0,Guaranteed,1517981.0
Cam Reddish,Cam Reddish,2020-21,Atlanta Hawks,current roster,0,0,1,0,0,0,Guaranteed,4458000.0
Clint Capela,Clint Capela,2020-21,Atlanta Hawks,current roster,0,0,1,0,0,0,Guaranteed,16000000.0

In [96]:
df.shape

(419, 12)

In [97]:
df["value"].describe()

count    4.190000e+02
mean     8.128092e+06
std      9.702137e+06
min      5.000000e+04
25%      1.620564e+06
50%      3.872215e+06
75%      1.086595e+07
max      4.300636e+07
Name: value, dtype: float64